body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f5f5f5;
}

span {
	color: #bc002d;
}

nav,
.sidenav {
	background-color: #f5f5f5;
}

nav ul a {
	padding: 0 10px;
}

a {
	color: #bc002d !important;
}

.nav-wrapper {
	padding: 0 30px !important;
}

.nav-wrapper a,
.dropdown-content li a,
.select-wrapper ul li span {
	color: #000 !important;
}

.banner-text {
	padding-left: 20px;
	color: #fff;
	text-shadow: 2px 2px 2px black;
}

.btn {
	background-color: #bc002d !important;
}

.btn:hover {
	background-color: #ff5252 !important;
}

.btn:active, .btn-active {
	background-color: #ff5252 !important;
}

.blog-btn:first-child {
	margin-right: 30px;
}
.blog-btn:nth-child(2) {
	margin-left: 30px;
}

.page-link {
	margin: 22px 5px 0 0 !important;
	color: white !important;
}
.page-link:last-child {
	margin: 22px 0 0 0 !important;
}

.card-image {
	max-height: 350px;
	object-fit: contain;
	overflow: hidden;
}

.card-content {
	max-height: 250px !important;
	min-height: 249px !important;
	overflow: auto !important;
}

/* For toast positioning */
#toast-container {
    display: block;
    position: fixed;
    z-index: 10000
}
@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 7%;
        bottom: 5%;
        left: 33%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 43.5%;
        bottom: 9%;
        max-width: 90%
    }
}
@media only screen and (min-width: 993px) {
    #toast-container {
        top: 80%;
        right: 79%;
        min-width: 7%
    }
}

/* 3rd party loading spinner animation */
.loader {
  color: #bc002d;
  font-size: 90px;
  text-indent: -9999em;
  background-color: #fff;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}